$lightGray: #c8c8c8;

span:hover {
  background-image: url("../../assets/images/pencil.svg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20%;
  padding-right: 15px;
  cursor: text;
}

.cell-input {
  border: 2px solid $lightGray;
  width: 70%;
  height: auto;
  display: inline-block;

  &:focus {
    border: 2px solid $lightGray;
    outline: 2px solid $lightGray;
  }
}

.red {
  color: red;
}

.error-hint {
  font-size: 0.8rem;
  text-transform: initial;
  font-weight: normal;
}
