//colors
$color_mine_shaft: #222;
$white: #fff;
$black_29: rgba(0, 0, 0, 0.29);
$color_silver: #c3c3c3;
$color_sunset_orange: #f95454;
$color_catskill_white: #e5eff5;
$color_venice_blue_approx: #0b568b;
$list_name_color: var(--list-name-color);
// #212529;

.task-planner {
  margin: 10px 0 30px 0;
  border-radius: 16px;
  cursor: default;
  font-size: 1rem;
  overflow: hidden;
  padding: 18px;
  text-align: left;
  user-select: none;

  .header {
    color: $color_mine_shaft;
    padding-bottom: 16px;

    h3.title {
      display: inline-block;
      font-size: 1.25rem;
      letter-spacing: 1px;
      margin: 0;
      background: $color_venice_blue_approx;
      border-radius: 6px;
      color: $white;
      padding: 9px 15px;
    }
  }

  .task-board {
    min-width: 100%;

    .lists {
      margin: 0 10px 5px 0;
      display: flex;
      flex-direction: row;
      overflow: auto;

      .list {
        background-color: $color_catskill_white;
        border-radius: 6px;
        box-shadow: 1px 3px 5px 0px $black_29;
        padding: 8px;
        border: 1px solid $white;
        margin: 5px;
        width: 25%;
        min-width: 200px;
        max-width: 300px;

        &:first-child {
          margin-left: 0px;
        }

        h5 {
          color: $list_name_color;
          font-size: 1rem;
          letter-spacing: 0.5px;
          margin: 0 0 8px 3px;
          display: inline-block;
          text-transform: capitalize;
          width: 90%;
        }
      }
    }
  }
}

.delete-icon {
  float: right;
  color: $color_silver;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $color_sunset_orange;
  }
}

a.add-list {
  margin-top: 6px;
  color: $white;
  margin-left: 32px;
}

.lists .empty-tasklist{
  display: none;
  margin: 20px 0px;
}

.lists.empty .empty-tasklist{
  display: block;
}

.hints{
  background-color: #0c0c0c3b;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15%;
  h6, li{
    font-size: 0.8rem;
  }
}
