<div class="task-planner">
  <div class="header">
    <h3 class="title">Task Planner</h3>
    <a href="#" class="add-list" (click)="addList()">Add List</a>
  </div>

  <div class="task-board clearfix">
    <div class="lists">
      <div class="list" *ngFor="let tasklist of taskLists">
        <div class="clearfix">
          <span tabindex="0" [attr.aria-label]="tasklist.name">
            <h5>{{ tasklist.name }}</h5>
          </span>
          <a href="#" class="delete-icon" (click)="onDeleteTaskList(tasklist)">
            <i class="fas fa-trash danger"></i>
          </a>
        </div>
        <task-list [taskList]="tasklist"></task-list>
      </div>
    </div>
  </div>
</div>