/* Add application styles & imports to this file! */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";

/* Application wide styles */
.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
body{
  background-image: url(assets/images/wood.png);
  background-repeat: repeat;
  background-position: center;
}

// Add ellipsis
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}